# 02 - Data Inspection

This notebook is for inspecting the Netflix dataset to understand its structure, detect missing values, and identify potential issues.

### 1. Load Dataset

In [149]:
import pandas as pd

# Load the netflix dataset
DATA_PATH = "../data/netflix_titles.csv"
df = pd.read_csv(DATA_PATH)

### 2. Dataset Overview
Check the column types and the number of non-null entries

In [150]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

### 3. Check Missing Values

In [151]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

### 4. Numerical Summary

Describe numerical columns. Since `release_year`is the only numeric, we only focus on that.

In [152]:
df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

### 5. Check Uniqueness

Determine if `show_id` is a unique identifier and count unique values per column.

In [153]:
print(df["show_id"].is_unique)
df.nunique()

True

show_id         8807
type               2
title           8807
director        4528
cast            7692
country          748
date_added      1767
release_year      74
rating            17
duration         220
listed_in        514
description     8775
dtype: int64

### 6. Check Duplicate Rows

In [154]:
df.duplicated().sum()

np.int64(0)

### 7. Value Distribution

7.1 Country Distribution (Top 20)

In [155]:
df["country"].value_counts().head(20)

country
United States                    2818
India                             972
United Kingdom                    419
Japan                             245
South Korea                       199
Canada                            181
Spain                             145
France                            124
Mexico                            110
Egypt                             106
Turkey                            105
Nigeria                            95
Australia                          87
Taiwan                             81
Indonesia                          79
Brazil                             77
Philippines                        75
United Kingdom, United States      75
United States, Canada              73
Germany                            67
Name: count, dtype: int64

7.2 Type Distribution

In [156]:
df["type"].value_counts()

type
Movie      6131
TV Show    2676
Name: count, dtype: int64

7.3 Rating Distribution

In [157]:
df["rating"].value_counts(dropna=False)

rating
TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
NaN            4
NC-17          3
UR             3
66 min         1
74 min         1
84 min         1
Name: count, dtype: int64

7.4 Duration Distribution

In [158]:
df["duration"].value_counts()

duration
1 Season     1793
2 Seasons     425
3 Seasons     199
90 min        152
97 min        146
             ...
228 min         1
18 min          1
205 min         1
201 min         1
191 min         1
Name: count, Length: 220, dtype: int64

7.5 Release Year Distribution

In [159]:
df['release_year'].value_counts()

release_year
2018    1147
2017    1032
2019    1030
2020     953
2016     902
        ...
1961       1
1925       1
1959       1
1966       1
1947       1
Name: count, Length: 74, dtype: int64

7.6 Genre Distribution

In [160]:
print(df["listed_in"].value_counts().head(10))
df["listed_in"].str.count(",").add(1).value_counts().sort_index()

listed_in
Dramas, International Movies                        362
Documentaries                                       359
Stand-Up Comedy                                     334
Comedies, Dramas, International Movies              274
Dramas, Independent Movies, International Movies    252
Kids' TV                                            220
Children & Family Movies                            215
Children & Family Movies, Comedies                  201
Documentaries, International Movies                 186
Dramas, International Movies, Romantic Movies       180
Name: count, dtype: int64

listed_in
1    2020
2    3058
3    3729
Name: count, dtype: int64

7.7 Duration Type Split (Movie vs TV Show) 

We check if "duration" field is align with "type". For example, movies should have minutes, shows should have seasons.

In [161]:
df.groupby("type")["duration"].value_counts().tail(20)

type     duration
Movie    312 min          1
         43 min           1
         5 min            1
         8 min            1
         9 min            1
TV Show  1 Season      1793
         2 Seasons      425
         3 Seasons      199
         4 Seasons       95
         5 Seasons       65
         6 Seasons       33
         7 Seasons       23
         8 Seasons       17
         9 Seasons        9
         10 Seasons       7
         13 Seasons       3
         11 Seasons       2
         12 Seasons       2
         15 Seasons       2
         17 Seasons       1
Name: count, dtype: int64

### 8. Date Conversion Test
Convert `date_added` from string to datetime

In [162]:
# Test converting 'date_added' to datetime to check for issues
test_date_conversion = pd.to_datetime(df["date_added"], errors="coerce")
print("Invalid 'date_added' entries:", test_date_conversion.isna().sum())

Invalid 'date_added' entries: 98

### 9. Column Reference Notes

 | Column | Description | 
 |----|----| 
 | `show_id` | Unique ID of each title | 
 | `type` | Movie or TV Show | 
 | `title` | Name of the show | 
 | `director` | contain missing values at around 30% | 
 | `cast` | contain missing values | 
 | `country` | 	Contains inconsistent/multiple entries | 
 | `date_added` | Needs conversion to datetime | 
 | `release_year` | Only numeric column | 
 | `rating` | Categorical, some formatting issues| 
 | `duration` | String field (minutes or seasons) | 
 | `listed_in` | Genre labels | 
 | `description`| Text summary of the title |

### 10. Observations Summary

- The dataset has 8807 rows and 12 columns.
- `show_id` is a unique identifier for each title.
- `release_year` is the only numeric column.
- `date_added` is an object column but stores date info in string format.
- `country` contains multiple countries in a single cell such as "United Kingdom, United States".  
- `rating` has unexpected values like "66 min", which is likely belong in duration
- `director` has around 30% missing values.
- `cast`, `country` have moderate missing values.
- `rating`, `duration` and `date_added` have few missing values.